<div class="container">
  <form [formGroup]="FormularioRegister" (ngSubmit)="register()">
    <h1>Register Reactive Form</h1>
    
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input [ngClass]="{'is-invalid': hasError('name', 'required')}" type="text" class="form-control" id="name" formControlName="name">
      <div class="text-danger" *ngIf="hasError('name', 'required')">Name is required.</div>
    </div>
    
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input [ngClass]="{'is-invalid': hasError('email', 'required') || hasError('email', 'email')}" type="email" class="form-control" id="email" formControlName="email">
      <div class="text-danger" *ngIf="hasError('email', 'required')">Email is required.</div>
      <div class="text-danger" *ngIf="hasError('email', 'email')">Valid email is required.</div>
    </div>
    
    <div class="mb-3">
      <label for="age" class="form-label">Age:</label>
      <input [ngClass]="{'is-invalid': hasError('age', 'required')}" type="number" class="form-control" id="age" formControlName="age">
      <div class="text-danger" *ngIf="hasError('age', 'required')">Age is required.</div>
    </div>
    
    <button type="submit" class="btn btn-primary" [disabled]="FormularioRegister.invalid">Register</button>
  </form>
</div>